@{
    ViewBag.Title = "Contact me";
}
<h2>@ViewBag.Title.</h2>


<address>
    <abbr title="Phone">Phone:</abbr>
    (647)713-3315
</address>

<address>
    <strong>Developer:</strong>   <a href="mailto:nhquang2110@outlook.com">nhquang2110@outlook.com</a><br />
</address>