@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Property Management</h1>
    <p class="lead">Property Management is a web application which helps users maintain properties around their house.</p>
    
</div>

<!--<div class="row">
    @if (!User.Identity.IsAuthenticated)
    {
    <div class="col-md-2 col-md-offset-5">
        <div style="display:block; background-color:aquamarine;">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</div>
    </div>
    }
    else
    {
    <div class="col-md-2">
        @Html.ActionLink("Properties", "Index", "Property")
    </div>
    <div class="col-md-2">
        @Html.ActionLink("Problems", "Index", "Problem")
    </div>
           
    }
    </div>-->